@charset "UTF-8";

/* cor da seção home */
.home{
    background: #ffc107;
    color: white;
}

/* espaçamento entre as caixas */
.caixa{
    padding: 60px 0px;
    border-bottom: 1px solid #e5e5e5;
}

/* espaçamento das redes sociais */
footer p a{
    margin: 5px 15px;
}